/*some css here*/


html, body{

	-webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -ms-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
	
	height:100%;
	width:90%;
	margin:auto;
	background:#ccc;

	
}



/*table*/
#physicians td{
	padding-right:80px;
	
}



#physicians th{
	text-align: left;
	
}

a#closing{
	color: rgb(28, 159, 218);
	position:absolute;
	top:0;
	right:0;
	
}


h3, h4{
	color: #5E5ECF;

}

h2 {
	color: rgba(71, 186, 255, 0.8);
	background: url(../rainfall.gif) no-repeat;
	background-size:80% 150px;
	padding:10px;
	font-variant: small-caps;
	

}


h2 span{
	
	color: #FFCC00;
	background: rgba(71, 186, 255, 0.8);
	
	transition-property: background, border-radius;
	transition-duration: .5s;
	transition-timing-function: linear;


}


h2 span:hover{

	background: red;
	border-radius: 50%;
	
	-webkit-animation: blink 0.30s linear infinite;
    -moz-animation: blink 0.30s linear infinite;
    animation: blink 0.30s linear infinite;
	
}

	
/*blinking background that mimics a police siren*/
@keyframes blink {  
    0% { background: red;}
    100% { background: transparent; }
}
@-webkit-keyframes blink {
    0% { background: red; }
    100% { background: transparent; }
}


/*tabs and forms*/
#searchForm{
	width: 80%;
	margin: auto;

}

#tabs {
	min-width:1000px;
	
}


#gmap{
	right: 15px;
	top: 68px;
	position: absolute;
	
}


footer{
	position:relative;
	text-align:center;
    width: 50%;
	margin:auto;
	margin-top:3em;
	bottom:0;
	opacity:0.25;
	min-height:50px;

}